<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Main</title>
		<script src="js/jquery.js"></script>
		<script src="js/afquery.js"></script>
		<script src="js/vue.js"></script>

		<link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">
		<script src="element-ui/lib/index.js"></script>
		<link rel="stylesheet" href="css/index_header.css" />


	</head>
	<body>

		<div id='app'>
			<el-container>
				<el-header class="header">
					<div style="width: 100%;">
						<div style="float: left; margin-right: 15%;">
							<el-avatar :size="50" :src="avatarUrl" onclick="my.do_mydetail()"></el-avatar>
						</div>
						<div style="float: left; width: 50%;margin-top: 10px;">
							<el-input placeholder="Please type here" v-model="searchBoxContent" onchange="my.searchBoxChange()">
								<el-button slot="append" icon="el-icon-search" onclick="my.do_search()"></el-button>
							</el-input>
						</div>
						<div style="float: right;margin-top: 10px; width: 10%;">
							<span style="float:left; width: 50%;">
								<el-button type="primary" icon="el-icon-upload2" circle onclick="my.add_commodity()"></el-button>
							</span>
							<span style="float:right; width: 50%;">
								<el-button type="warning" icon="el-icon-star-off" circle onclick="my.do_star()"></el-button>
							</span>
						</div>
					</div>
				</el-header>
				<el-main class="main">
					<div class='itemlist'>
						<div class='item' v-for="(item, index) in items" :id2="item.comID"
							onclick="my.item_clicked(this)">
							<img class='icon' :src='item.iconUrl'> <br>
							<label class='title'> {{item.title}}</label>
						</div>
					</div>
					<el-pagination background layout="prev, pager, next" :current-page="page" :page-count="pageCount"
						@current-change="handlePageChange">
					</el-pagination>
					<!-- <template v-if="searchBoxContent === ''">
						<el-pagination background layout="prev, pager, next" :current-page="page" :page-count="pageCount"
							@current-change="handlePageChange">
						</el-pagination>
					</template>
					<template v-else>
						<el-pagination background layout="prev, pager, next" :current-page="searchPage" :page-count="searchPageCount"
							@current-change="handleSearchPageChange">
						</el-pagination>
					</template> -->
					
				</el-main>
			</el-container>
		</div>
	</body>
	<script>
		var my = {}
		my.page = Number(Af.getUrlParam('page', 1));
		my.userid = Number(Af.getUrlParam('userid'), 0);
		my.searchpage = Number(Af.getUrlParam('searchpage', 1));// to do: search box can't change page now

		my.do_mydetail = function() {
			location.href = "my_detail.html?userid=" + my.userid + "&index=1";
		}

		my.add_commodity = function() {
			Af.rest("CommodityNew", null, function(ret) {
				console.log("new blank record ", ret.data);
				window.open("commodity_edit.html?id=" + ret.data.comID + "&userid=" + my.userid);
			})
		}

		my.do_star = function() {
			location.href = 'my_detail.html?userid=' + my.userid + '&index=2';
		}

		my.do_query = function() {
			let req = {};
			req.page = my.page;
			Af.rest('CommodityQuery', req, function(ret) {
				app.items = ret.data.items;
				app.page = ret.data.page;
				app.pageCount = ret.data.pageCount;
			});
			let req2 = {};
			req2.userid = my.userid;
			Af.rest('UserView', req2, function(ret) {
				if (ret.data.avatarUrl != null) app.avatarUrl = ret.data.avatarUrl;
			});
		}

		my.item_clicked = function(dom) {
			let id = $(dom).attr('id2');
			location.href = 'commodity_detail.html?id=' + id + '&userid=' + my.userid;
		}
		
		my.do_search = function() {
			let req = {}
			req.input = app.searchBoxContent;
			req.searchPage = my.searchpage;
			Af.rest('CommoditySearchBox', req, function(ret) {
				if (typeof(ret.data) != "undefined") {
					app.items = ret.data.items;
					app.searchPage = ret.data.searchPage;
					app.searchPageCount = ret.data.searchPageCount;
				}
				else{
					app.items = [];
				}
				
				
			});
		}
		
		my.searchBoxChange = function(){
			app.searchPage = 1;
			app.searchPageCount = 0;
			my.do_search();
		}

		var app = new Vue({
			el: "#app",
			data: {
				items: [],
				pageCount: 0,
				page: 0,
				avatarUrl: "https://cube.elemecdn.com/3/7c/3ea6beec64369c2642b92c6726f1epng.png",
				searchBoxContent: '',
				searchPage: 1,
				searchPageCount: 0
			},
			methods: {
				handlePageChange(val) {
					location.href = 'index.html?page=' + val + '&userid=' + my.userid;
				},
				handleSearchPageChange(val) {
					location.href = 'index.html?searchpage=' + val + '&userid=' + my.userid;
				}
			}
		})
		my.do_query();
		
	</script>
</html>
