<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Edit Commodity</title>
		<script src="js/jquery.js"></script>
		<script src="js/afquery.js"></script>
		<script src="js/vue.js"></script>

		<link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">
		<script src="element-ui/lib/index.js"></script>
		<link rel="stylesheet" href="css/commodity_detail.css"/>
	</head>
	<body>
		<div id='app'>
			<el-container>
				<el-main class="main">
					<el-form ref="form" label-width="80px" style="width: 60%; margin-left: 20%; margin-right: 20%; padding: 30px 20px 10px 20px; background-color: #fff; box-shadow: 0 0 5px 1px rgba(158, 179, 193, .5);">
						<el-form-item label="Title">
							<el-input v-model="row.title"></el-input>
						</el-form-item>
						<el-form-item label="Description">
							<el-input type="textarea" :rows="5" placeholder="Please input your description"
								v-model="row.description">
							</el-input>
						</el-form-item>
						<el-form-item label="Photo">
							<el-upload class="avatar-uploader" :action="uploadUrl" :show-file-list="false"
								:on-success="handleUpload">
					
								<img v-if="iconUrl" :src="iconUrl" class="avatar">
								<i v-else class="el-icon-plus avatar-uploader-icon"></i>
							</el-upload>
						</el-form-item>
						<el-form-item label="Price">
							<el-input v-model="row.price"></el-input>
						</el-form-item>
						<el-form-item label="Stock">
							<el-input v-model="row.stock"></el-input>
						</el-form-item>
						<el-form-item>
							<el-button type="primary" onclick="my.do_save()">Create</el-button>
							<el-button onclick="my.go_home()">Cancle</el-button>
						</el-form-item>
					</el-form>
				</el-main>
			</el-container>
				
				
			
		</div>
	</body>
	<script>
		var my = {}
		my.id = Number(Af.getUrlParam('id'), 0);
		my.userid = Number(Af.getUrlParam('userid'), 0);

		my.do_query = function() {
			var req = {}
			req.id = my.id;
			Af.rest('CommodityView', req, function(ret) {
				if (ret.error != 0) {
					app.$alert(ret.reason,'',{confirmButtonText:'OK'});
					return;
				}
				app.row = ret.data;
				if(app.row.iconUrl!=null) app.iconUrl = app.row.iconUrl;
			})
		}

		my.do_save = function() {
			let req = app.row
			req.userID = my.userid;
			Af.rest('CommoditySave', req, function(ret) {
				app.$alert('Success create your product!','',{confirmButtonText:'OK'});
				window.close();
			})
		}

		my.add_commodity = function() {
			Af.rest("CommodityAdd", null, function(ret) {
				console.log("new blank record: " + ret.data);
			})
		}
		
		my.go_home = function(){
			let parentUrl = document.referrer;
			console.log(parentUrl);
			new Promise((resolve, reject) => {
				let req = {};
				req.id = my.id;
				if(parentUrl.indexOf('index.html') != -1){
					Af.rest("CommodityClear", req, function(ret) {
						console.log("clear nameless commodity: " + ret.data);
						resolve();
					})
				}
				else{
					reject();
				}
			}).then(() =>{
				window.close();
			}).catch(() => {
				window.close();
			})
			
			
		}
		
		var app = new Vue({
			el: "#app",
			data: {
				uploadUrl: 'PictureUpload?id=' + my.id,
				iconUrl: '',
				row: {}
			},
			methods: {
				handleUpload(resp, file) {
					this.iconUrl = resp.data;
				},
				handlePreview(file) {
					console.log(file);
				}
			}
		})
		my.do_query();
	</script>
</html>
