<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Login</title>
		<script src="js/jquery.js"></script>
		<script src="js/afquery.js"></script>
		<script src="js/vue.js"></script>

		<link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">
		<script src="element-ui/lib/index.js"></script>

		<style>
			body {
				padding: 0;
				margin: 0;
				background-color: #eee;
			}
			.main {
				margin-top: 50px;
				padding: 10px calc((100% - 1000px)/2);
			}
			.loginBtn{
				width: 100%;
			}
			.el-form-item{
				padding: 0 20px 0 20px;
			}
			
		</style>

	</head>
	<body>
		<div id='app'>
			<el-container>
			  <el-main class="main">
				  <el-form ref="form" label-width="0px" style="width: 40%; margin-left: 30%; margin-right: 30%; padding: 50px 20px 20px 20px; background-color: #fff; box-shadow: 0 0 5px 1px rgba(158, 179, 193, .5);">
				  	<el-form-item>
				  		<el-input placeholder="Email" v-model="row.email" clearable></el-input>
				  	</el-form-item>
				  	<el-form-item>
				  		<el-input placeholder="Password" v-model="row.password" show-password onchange="my.do_login()"></el-input>
				  	</el-form-item>
				  	<el-form-item>
				  		<el-button class="loginBtn" type="primary" onclick="my.do_login()">Log In</el-button>
				  	<el-form-item>
				  		<el-link style="margin-top: 10px;" class="loginBtn" type="primary" :underline="false" onclick="my.do_signup()"> Sign Up</el-link>
				  	</el-form-item>
				  </el-form>
			  </el-main>
			</el-container>
			
		</div>
	</body>
	<script>
		var my={}
		my.do_login = function(){
			Af.rest('UserCheck',app.row,function(ret) {
				console.log("user info ", ret.data);
				if(ret.data !=null){
					location.href = "index.html?userid=" + ret.data.userID;
				}
				else {
					app.$message.error("Wrong email address or password!");
				}			
			})		
		}
		
		my.do_signup = function(){
			location.href = "signup.html";
		}
		
		var app = new Vue({
			el: "#app",
			data: {
				row:{},
	
				
			},
			methods: {
				
			}
		})
	</script>
</html>
